.actionBtnWrap {
  display: flex;
  gap: 5px; 
}

.td_input {
  border: 1px solid transparent;
  vertical-align: middle;
  outline: none;  
  background-color: transparent;
  
  &:hover {
    background-color: #e8eaf5;
  }
}

.td_through {
  border: 1px solid transparent;
  text-decoration: line-through;
  vertical-align: middle;  
  outline: none;
  background-color: transparent;

  &:hover {
    background-color: #e8eaf5;
  }
}

.tr_form {  

  &:hover {
    background-color: #e8eaf5;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.regular {
  display: block;
  width: 15px;
  height: 15px;
  background-color: green;  
}

.important {
  display: block;
  width: 15px;
  height: 15px;  
  background-color: yellow;
}

.urgent {
  display: block;
  width: 15px;
  height: 15px;  
  background-color: red;
}
