.actionBtnWrap {
  display: flex;
  gap: 5px; 
}

.td_input {
  border: 1px solid transparent;
  vertical-align: middle;

}

.td_through {
  border: 1px solid transparent;
  text-decoration: line-through;
  vertical-align: middle;
}
