.actionBtnWrap {
  display: flex;
  gap: 5px; 
  justify-content: center;
}

.td_input {
  border: 1px solid transparent;
  vertical-align: middle;
  outline: none;  
  background-color: transparent;
}

.td_through {
  border: 1px solid transparent;
  text-decoration: line-through;
  vertical-align: middle;  
  outline: none;
  background-color: transparent;

}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  display: block;
  width: 15px;
  height: 15px;
}

.regular {
  background-color: green;  
}

.important {
  background-color: yellow;
}

.urgent {
  background-color: red;
}

