.App {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid red;
  margin-top: calc(100vh * 0.2);
  padding: 10px;
}

.my-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  @media(max-width: 550px) {
    flex-wrap: wrap;
  }
}
